In [24]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

from sklearn import datasets
pok = pd.read_csv('Pokemon.csv')
pok #menampilkkan dataset

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,600,50,100,150,100,150,50,6,True
796,719,DiancieMega Diancie,Rock,Fairy,700,50,160,110,160,110,110,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,6,True
799,721,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True

In [25]:
pok = pok.drop(['Legendary','Total','HP','Name','Generation','Speed','Type 1','Type 2'], axis=1)

In [26]:
pok

       #  Attack  Defense  Sp. Atk  Sp. Def
0      1      49       49       65       65
1      2      62       63       80       80
2      3      82       83      100      100
3      3     100      123      122      120
4      4      52       43       60       50
..   ...     ...      ...      ...      ...
795  719     100      150      100      150
796  719     160      110      160      110
797  720     110       60      150      130
798  720     160       60      170      130
799  721     110      120      130       90

[800 rows x 5 columns]

In [32]:
from sklearn.model_selection import train_test_split
x = pok[['Attack','Sp. Atk']]
y = pok['Defense']
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size= .2, random_state=40)

In [33]:
print("x_train shape: {}".format(x_train.shape))
print("y_train shape: {}".format(y_train.shape))
print("x_test shape: {}".format(x_test.shape))
print("y_test shape: {}".format(y_test.shape))

x_train shape: (640, 2)
y_train shape: (640,)
x_test shape: (160, 2)
y_test shape: (160,)

In [34]:
from sklearn import neighbors
classifier = neighbors.KNeighborsClassifier()

#train the model
classifier.fit(x_train, y_train)

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
                     metric_params=None, n_jobs=None, n_neighbors=5, p=2,
                     weights='uniform')

In [35]:
#make predictions
y_pred = classifier.predict(x_test)

#prediction dibandingkan dengan expected output (y_test) utk mengetahui nilai akurasi
from sklearn.metrics import accuracy_score
print(accuracy_score(y_test, y_pred))

0.05625

In [36]:
from sklearn.metrics import confusion_matrix
confusion_matrix(y_test, y_pred)

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       ...,
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]], dtype=int64)